* {box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Helvetica, sans-serif;;
}
h1,h4, h3 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

footer{
    text-align: center;
}

.container{
    min-height:700px;
}
.custom-btn {
    background-color: #2c3691;
    color: #fff !important;
    padding: 11px 16px !important;
    border-radius: 7px;
}
.submit-btn {
    background-color: #2c3691;
    color: #fff !important;
    padding: 5px 16px !important;
    border-radius: 7px;
}

.error{
  color: red;
}

li {
    list-style: none;
    font-family: var(--body-font);
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
}

.navbar_inner nav ul li a {
    color: var(--dark);
    font-weight: 500;
    font-size: 16px;
}

.navbar_inner nav ul li a.active {
    color: var(--orange);
}

.navbar_inner nav ul li {
    padding: 0px 10px;
}

.navbar_inner nav ul li:last-child {
    padding-right: 0;
}

.navbar_section {
    box-shadow: var(--shadow1);
    position: relative;
}

.copyright {
    position: relative;
    text-align: center;
    background-color: #11195a;
}

.copyright p {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 14px;
    padding: 10px;
}

#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.75) url("/img/loader.gif") no-repeat center center;
    z-index: 99999;
}


    .sp-indicators {
        display: flex;
        flex-direction: row;
        gap: 5px; /* Adjust this value to control spacing between indicators */
    }

    .tingkat-1, .tingkat-2, .tingkat-3 {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
    }

    .tingkat-1 {
        background-color: green;
    }

    .tingkat-2 {
        background-color: orange;
    }

    .tingkat-3 {
        background-color: red;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.9);
    }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

